* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: monospace;
}

main {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 100%;
    height: 120rem;
    background-color: #93A0C6;
}

.index {
    background-color: #7881ac;
    width: 100%;
    height: 120rem;
}
