@font-face {
    font-family: 'Violina';
    src: url('fonts/Violina Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Violina', sans-serif;
  }
  